#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
    opacity: 1;
    animation: 2s loading_hidden 0.2s ease forwards;
    pointer-events: none;
}

@keyframes loading_hidden {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.h_title {
    font-family: var(--en-font);
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;

    &.left {
        text-align: left;
    }

    span {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 9px);
            height: 1px;
            background: var(--main-color);
        }
    }
}

/*-------------header---------------*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 10;

    #toggle-menu {
        position: fixed;
        top: 29px;
        right: 60px;
        width: 56px;
        height: 56px;
        margin-bottom: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 100;
        span {
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            transition: all 0.3s linear;

            &:nth-child(1) {
                position: absolute;
                top: 37%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:nth-child(3) {
                position: absolute;
                top: 63%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
        &.active {
            span{

                &:nth-child(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }

    .menu {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        pointer-events: none;
        padding: 111px 60px 0 0;
        z-index: 11;

        &_item {
            text-align: right;
            pointer-events: auto;
            margin-bottom: 12.5px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-family: var(--en-font);
                color: var(--white-color);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -1px;
                    left: 0;
                    background-color: var(--white-color);
                    transform-origin: bottom right;
                    transition: transform .4s cubic-bezier(.86, 0, .07, 1);
                }
            }
        }
    }
}

/*-------------idx_mainvisual---------------*/
#idx_mainvisual {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;

    .mainvisual {
        &_contain {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                pointer-events: none;
                z-index: 2;
            }
        }

        &_slider {
            width: 50%;
            height: 100%;

            .swiper-wrapper {
                width: 100%;
                height: 100%;

                .swiper-slide {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .swiper-slide-prev,
                .swiper-slide-active,
                .swiper-slide-duplicate-active {
                    img {
                        animation: zoomin 13s linear infinite;
                    }
                }
            }

            &.mv_right {
                .swiper-wrapper {

                    .swiper-slide-prev,
                    .swiper-slide-active,
                    .swiper-slide-duplicate-active {
                        img {
                            animation: zoomout 13s linear infinite;
                        }
                    }
                }
            }
        }

        &_title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            width: 100%;
            max-width: 344px;
            line-height: 0;
        }

        &_subtitle {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50%));
            width: 100vw;
            max-width: 1500px;
            z-index: 3;
            opacity: 0;
            transition: all 1s ease;
            margin-left: 80px;

            &.left {
                opacity: 1;
                margin-left: 0;
            }
        }
    }
}

// zoom slider
@keyframes zoomout {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/*-------------idx_about---------------*/
#idx_about {
    padding: 130px 0 310px;

    .inner {
        max-width: 100%;
        width: 100%;
    }

    .about {
        &_wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                background: url("../images/top/about_text.png") repeat-x;
                background-size: 2237px 100%;
                width: 100vw;
                height: 127px;
                left: 0;
                top: 51px;
                z-index: 9;
                transition: all 1s linear;
                animation: TitleRight 60s linear infinite;
                pointer-events: none;
                z-index: -1;
            }
        }

        &_content {
            width: 47.333vw;
            padding: 16.8vw 5.3vw 0 6.6vw;
        }

        &_title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 48px;
        }

        &_desc {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.375;
            margin-bottom: 41px;
            text-align: justify;
        }

        &_gallery {
            width: 52.667vw;
            position: relative;

            figure {
                line-height: 0;

                &:not(:first-child) {
                    position: absolute;
                    z-index: 1;
                }

                &:nth-child(1) {
                    width: 67.0886%;
                    margin-left: 13.9%;
                }

                &:nth-child(2) {
                    width: 40.50632%;
                    bottom: -15.5%;
                }

                &:nth-child(3) {
                    width: 31.64556%;
                    bottom: -23.7%;
                    right: 11.3%;
                }

                &:nth-child(4) {
                    width: 31.64556%;
                    right: 0;
                    top: 33.6%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@keyframes TitleRight {
    from {
        background-position: 2237px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes TitleRight-01 {
    from {
        background-position: 1233px 0;
    }

    to {
        background-position: 0 0;
    }
}

.bg_cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#idx_news {
    padding: 103px 0 148px;
    background: #e7dfd6;

    .inner {
        max-width: 1120px;
    }

    .h_title {
        margin-bottom: 78px;
    }

    .news {
        &_wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 64px;
        }

        &_left {
            width: 100%;
            max-width: 480px;
            margin-right: 30px;
            flex: 1;
        }

        &_right {
            width: 100%;
            max-width: 560px;
        }

        &_list {
            &.first {
                .news_item {
                    a {
                        display: block;
                    }
                }

                .news_thumbnail {
                    width: 42.142vw;
                    max-width: 480px;
                    max-height: 324px;
                    height: 28.446vw;
                    margin-bottom: 32px;
                    margin-right: 0;
                }

                .news_group {
                    font-size: 14px;
                }

                .news_title {
                    font-size: 20px;
                    -webkit-line-clamp: inherit;
                }
            }
        }

        &_item {
            a {
                display: flex;
                align-items: center;
            }

            &:not(:first-child) {
                margin-top: 34px;
                padding-top: 33px;
                border-top: 1px solid #999;
            }
        }

        &_thumbnail {
            width: 21.071vw;
            max-width: 240px;
            max-height: 162px;
            height: 14.223vw;
            line-height: 0;
            flex-shrink: 0;
            margin-right: 32px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform-origin: center;
                transition: all 0.5s;
            }
        }

        &_group {
            font-size: 13px;
            color: #999;
            margin-bottom: 12px;
        }

        &_time {
            margin-right: 4px;
            letter-spacing: 0.1em;
        }

        &_cate {
            margin-bottom: 0;
            display: inline-block;

            span {
                white-space: nowrap;
            }
        }

        &_title {
            font-size: 17px;
            font-weight: 600;
            line-height: 1.7647;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &_desc {
            margin: 19px 0 0 0;
            font-weight: 500;
            line-height: 2.13;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

#idx_service {
    padding: 28px 0 200px;

    .inner {
        max-width: 1500px;
        width: 100%;
    }

    figure {
        line-height: 0;

        &.img_r {
            text-align: right;
        }
    }

    .service {
        &_frame {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .h_title {
                margin-bottom: 36px;
            }

            // &.s_frame_fixed {
            //     position: absolute;
            //     inset: 0;
            // }

            // &.bottom {
            //     top: auto;
            //     bottom: 0;
            // }
        }

        &_ttl {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.867;
            text-align: center;
            margin-bottom: 39px;
        }

        &_desc {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.5;
            text-align: center;
            margin-bottom: 37px;
        }

        &_image01 {
            margin-left: 17px;
        }

        &_image02 {
            margin: -139px -78px 0 0;
        }

        &_image03 {
            margin: -247px 0 0 101px;
        }

        &_image04 {
            margin: -43px 188px 0px 0;
        }

        &_image05 {
            margin: -133px 0 0 -226px;
        }

        &_image06 {
            margin: -161px 24px 0 0px;
        }

        &_image07 {
            margin: -69px 0 0 127px;
        }

        &_image08 {
            margin: -306px 46px 0 0;
        }
    }
}

#box_content {
    padding: 115px 0;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        pointer-events: none;
    }

    &.photo {
        background-image: url("../images/top/image_photo.jpg");
    }

    &.hairmake {
        background-image: url("../images/top/image_hairmake.jpg");
    }

    &.ceremony {
        background-image: url("../images/top/image_ceremony.jpg");
    }

    .box {
        &_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &.reverse {
                flex-direction: row-reverse;

                .box_image {
                    margin-right: 0;
                    margin-left: 30px;
                }
            }
        }

        &_image {
            width: 53.25vw;
            max-width: 680px;
            height: 35.239vw;
            max-height: 450px;
            margin-right: 30px;

            a {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                line-height: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.5s ease-out;
                }
            }
        }

        &_detail {
            width: 100%;
            max-width: 460px;
            padding-bottom: 19px;
            flex: 1;
            color: #fff;

            .h_title {
                margin-bottom: 34px;

                span {
                    &::after {
                        background: #fff;
                    }
                }
            }
        }

        &_desc {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.375;
            text-align: justify;
            margin-bottom: 36px;
        }
    }
}

#idx_collection {
    width: 100%;
    padding: 125px 5%;
    background-color: #b59da1;

    .collection {
        &_wrap {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto 90px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;  

            .btn_primary {
                margin-bottom: 9px;
            }
        }

        &_content {
            width: 100%;
            margin-right: 30px;
            flex: 1;
            .h_title {
                margin-bottom: 20px;

                span {
                    &::after {
                        background: #fff;
                    }
                }
            }
        }

        &_desc {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.5;
            text-align: justify;
        }

        &_cate {
            display: flex;
            align-items: flex-start;
            &_img {
                width: 35.55%;
                flex-shrink: 0;
                height: 100vh;
                position: relative;

                figure {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    line-height: 0;
                    transition: all .3s ease;

                    &.show {
                        opacity: 1;
                    }
                }

                img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }

            &_list {
                flex: 1;
                margin-left: 120px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            &_item {
                a {
                    display: block;
                    border-top: 1px solid #fff;
                    color: #fff;
                    opacity: 0.2;
                    transition: opacity 0.6s;
                    padding: 47px 0 66px;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &_title {
                font-size: 54px;
                font-family: var(--en-font);
                font-weight: 400;
                letter-spacing: 0.05em;
                margin-bottom: 21px;

                span {
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: 0.1em;
                    margin-left: 21px;
                }
            }

            &_desc {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

#footer {
    padding-top: 140px;

    .box_contact {
        &_wrap {
            background: url("../images/footer/background_contact.jpg") no-repeat center center;
            background-size: cover;
            padding: 64px 3% 79px;
            color: #fff;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1;
                pointer-events: none;
            }

            .h_title {
                margin-bottom: 35px;

                span {
                    &::after {
                        background: #fff;
                    }
                }
            }

        }

        &_block {
            position: relative;
            z-index: 2;
        }

        &_desc {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.5;
            text-align: center;
            margin-bottom: 4px;
        }

        &_tel {
            font-family: var(--en-font);
            font-size: 34px;
            font-weight: 700;
            margin-bottom: 2px;
            text-align: center;

            a {
                color: #fff;
                font-size: 158.8235%;
                letter-spacing: 0.1em;
            }
        }

        &_time {
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 31px;
        }
    }

    .box_instagram {
        padding: 120px 0 152px;

        .h_title {
            margin-bottom: 51px;
        }

        &_group {
            margin-bottom: 83px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_ttl {
            display: flex;
            align-items: center;
            font-family: var(--en-font);
            font-size: 28px;
            letter-spacing: 0.05em;
            font-weight: 400;
            color: #B59DA1;
            margin-left: 50px;
            margin-bottom: 25px;

            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background: #B59DA1;
                border-radius: 50%;
                margin-right: 18px;

                img {
                    width: 54%;
                    object-fit: contain;
                }
            }
        }

        &_list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        &_item {
            width: calc(100% / 6);

            a {
                display: block;
                line-height: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &_animation {
            height: 32px;
            width: 100vw;
            position: relative;
            pointer-events: none;

            &.reverse {
                height: 33px;

                &::before {
                    animation-name: instagramLeft;
                    background-size: 571px 100%;
                    background-image: url("../images/footer/instagram_animation02.png");
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("../images/footer/instagram_animation.png");
                background-repeat: repeat-x;
                background-size: 573px 100%;
                transition: all 1s linear;
                animation: instagramRight 8s linear infinite;
            }
        }
    }

    .box_info {
        background-color: #B59DA1;
        padding: 108px 0 30px;

        &_wrap {
            width: 94%;
            max-width: 1000px;
            margin: 0 auto;

            address {
                font-style: inherit;
                text-align: center;
                font-family: var(--en-font);
                font-size: 13px;
                letter-spacing: 0.1em;
                color: #fff;
            }
        }

        &_block {
            display: flex;
            justify-content: space-between;
            margin-bottom: 93px;

            .f_logo {
                margin-bottom: 58px;

                a {
                    display: inline-block;
                    width: 100%;
                    max-width: 460px;
                    line-height: 0;
                }
            }

            .f_info {
                color: #fff;

                p {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 12px;

                    a {
                        color: #fff;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &_detail {
            width: 100%;
            max-width: 480px;
        }

        &_nav {
            flex: 1;
            width: 100%;
            max-width: 384px;
            margin-top: -4px;
            display: flex;
            justify-content: space-between;
        }

        &_link {
            li {
                margin-bottom: 26px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 0.1em;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: -1px;
                    left: 0;
                    background-color: var(--white-color);
                    transform-origin: bottom right;
                    transition: transform .4s cubic-bezier(.86, 0, .07, 1);
                }
            }
        }

        &_inistagram {
            width: 100%;
            max-width: 480px;
            margin: 0 auto 97px;
            display: flex;
            justify-content: space-between;

            a {
                color: #fff;
                display: flex;
                align-items: center;
                font-family: var(--en-font);
                font-size: 20px;
                letter-spacing: 0.05em;

                img {
                    margin-right: 16px;
                    margin-top: 4px;
                }

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}


@keyframes instagramRight {
    from {
        background-position: 573px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes instagramLeft {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 571px 0;
    }
}

@keyframes instagramRight_sp {
    from {
        background-position: 412px 0;
    }

    to {
        background-position: 0 0;
    }
}


@keyframes instagramLeft_sp {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 410px 0;
    }
}