.box_sp {
    display: none;
}

.box_pc {
    display: block;
}

/* responsive */
@media screen and (max-width: 1500px) {
    /*-- idx_service --*/
    #idx_service .service_image01 {
        margin-left: 1.133vw;
    }

    #idx_service .service_image01 img {
        width: 24.667vw;
    }

    #idx_service .service_image02 {
        margin: -9.267vw -5.2vw 0 0;
    }

    #idx_service .service_image02 img {
        width: 30.667vw;
    }

    #idx_service .service_image03 {
        margin: -16.467vw 0 0 6.733vw;
    }

    #idx_service .service_image03 img {
        width: 21.667vw;
    }

    #idx_service .service_image04 {
        margin: -2.867vw 12.533vw 0px 0;
    }

    #idx_service .service_image04 img {
        width: 21.2vw;
    }

    #idx_service .service_image05 {
        margin: -8.867vw 0 0 -15.067vw;
    }

    #idx_service .service_image05 img {
        width: 38.4vw;
    }

    #idx_service .service_image06 {
        margin: -10.733vw 1.6vw 0 0px;
    }

    #idx_service .service_image06 img {
        width: 17.333vw;
    }

    #idx_service .service_image07 {
        margin: -4.6vw 0 0 8.467vw;
    }

    #idx_service .service_image07 img {
        width: 27vw;
    }

    #idx_service .service_image08 {
        margin: -20.4vw 3.067vw 0 0;
    }

    #idx_service .service_image08 img {
        width: 41.867vw;
    }


    /*-- idx_collection --*/
    #idx_collection .collection_cate_title {
        font-size: 3.6vw;
    }

    #idx_collection .collection_cate_title span {
        margin-left: 1.4vw;
    }
}

@media screen and (max-width: 1499px) {
    /*-- idx_collection --*/
    #idx_collection .collection_cate_list {
        margin-left: 80px;
    }
}

@media screen and (max-width: 1150px) {
}

@media screen and (min-width: 1025px) {
    a[href^="tel"] {
        pointer-events: none;
    }

    /*-- btn_primary --*/
    .btn_primary a:hover::before {
        transform: scaleX(0) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .btn_primary a:hover span {
        transform: translateX(4.2rem) translateZ(0);
    }

    .btn_primary a:hover::after {
        transform: scaleX(1) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    }

    /*-- header --*/
    #header .menu_item a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    /*-- idx_news --*/
    #idx_news .news_item a:hover img {
        transform: scale(1.1);
    }

    /*-- box_content --*/
    .box_content .box_image a:hover img {
        transform: scale(1.1);
    }

    /*-- idx_collection --*/
    #idx_collection .collection_cate_item a:hover {
        opacity: 1;
    }

    /*-- footer --*/
    #footer .box_info_link a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    /*-- h_title --*/
    .h_title {
        font-size: 30px;
    }

    /*-- btn_primary --*/
    .btn_primary {
        max-width: 200px;
    }

    .btn_primary a {
        font-size: 14px;
        line-height: 3;
    }

    /*-- header --*/
    #header .menu {
        display: none;
    }

    #header #toggle-menu {
        top: 10px;
        right: 3%;
        width: 45px;
        height: 45px;
    }

    /*-- idx_mainvisual --*/
    #idx_mainvisual .mainvisual_title {
        max-width: 220px;
    }

    /*-- idx_about --*/
    #idx_about {
        padding: 60px 0 12vw;
    }

    #idx_about .about_content {
        padding: 12vw 4vw 0 4vw;
    }

    #idx_about .about_title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    #idx_about .about_desc {
        font-size: 14px;
    }

    #idx_about .about_wrap::before {
        background-size: 1233px 100%;
        height: 70px;
        animation-name: TitleRight-01;
    }

    /*-- idx_news --*/
    #idx_news {
        padding: 45px 0 55px;
    }

    #idx_news .h_title {
        margin-bottom: 45px;
    }

    #idx_news .news_wrap {
        margin-bottom: 40px;
    }

    #idx_news .news_thumbnail {
        margin-right: 20px;
    }

    #idx_news .news_list.first .news_thumbnail {
        margin-bottom: 25px;
    }

    #idx_news .news_item:not(:first-child) {
        margin-top: 35px;
        padding-top: 35px;
    }

    #idx_news .news_title {
        font-size: 15px;
    }

    #idx_news .news_list.first .news_title {
        font-size: 18px;
    }

    #idx_news .news_group {
        margin-bottom: 8px;
    }

    /*-- idx_service --*/
    #idx_service {
        padding-bottom: 55px;
    }

    #idx_service .service_frame .h_title {
        margin-bottom: 20px;
    }

    #idx_service .service_ttl {
        font-size: 22px;
        margin-bottom: 30px;
    }

    #idx_service .service_desc {
        font-size: 14px;
        margin-bottom: 40px;
    }

    /*-- box_content --*/
    .box_content {
        padding: 55px 0;
    }

    .box_content .box_detail {
        padding-bottom: 0;
    }

    .box_content .box_desc {
        font-size: 14px;
    }

    .box_content .box_detail .h_title {
        margin-bottom: 20px;
    }

    .box_content .box_desc {
        margin-bottom: 40px;
    }

    /*-- idx_collection --*/
    #idx_collection {
        padding: 45px 5% 55px;
    }

    #idx_collection .collection_wrap {
        margin-bottom: 55px;
    }

    #idx_collection .collection_desc {
        font-size: 14px;
        line-height: 2;
    }

    #idx_collection .collection_cate_list {
        margin-left: 30px;
    }

    #idx_collection .collection_cate_item a {
        padding: 30px 0;
    }

    #idx_collection .collection_cate_title {
        margin-bottom: 10px;
    }

    #idx_collection .collection_cate_title span {
        font-size: 14px;
    }

    #idx_collection .collection_cate_desc {
        font-size: 14px;
    }

    /*-- box_content --*/
    #footer {
        padding-top: 55px;
    }

    #footer .box_contact_wrap {
        padding: 40px 3% 50px;
    }

    #footer .box_contact_desc {
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 2;
    }

    #footer .box_contact_tel {
        font-size: 19px;
        margin-bottom: 5px;
    }

    #footer .box_contact_time {
        margin-bottom: 30px;
    }

    #footer .box_instagram {
        padding: 45px 0 55px;
    }

    #footer .box_instagram .h_title {
        margin-bottom: 45px;
    }

    #footer .box_instagram_group {
        margin-bottom: 50px;
    }

    #footer .box_instagram_ttl {
        font-size: 22px;
        margin-left: 3%;
    }

    #footer .box_instagram_ttl span {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    #footer .box_instagram_animation {
        height: 23px;
    }

    #footer .box_instagram_animation::before {
        background-size: 412px 100%;
        animation-name: instagramRight_sp;
    }

    #footer .box_instagram_animation.reverse {
        height: 24px;
    }

    #footer .box_instagram_animation.reverse::before {
        background-size: 410px 100%;
        animation-name: instagramLeft_sp;
    }

    #footer .box_info {
        padding: 55px 0 20px;
    }

    #footer .box_info_nav {
        display: none;
    }

    #footer .box_info_detail {
        max-width: 100%;
        text-align: center;
    }

    #footer .box_info_block .f_logo {
        margin-bottom: 35px;
    }

    #footer .box_info_block .f_logo a {
        max-width: 320px;
    }

    #footer .box_info_block .f_info p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    #footer .box_info_block {
        margin-bottom: 35px;
    }

    #footer .box_info_instagram {
        margin-bottom: 35px;
    }

    #footer .box_info_instagram a img {
        margin-right: 10px;
        width: 18px;
    }

    #footer .box_info_instagram a {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    #wrapper,
    #header,
    #main,
    #footer,
    .pages .pages_inner {
        width: 100% !important;
        min-width: inherit !important;
    }

    .box_sp {
        display: block;
    }

    .box_pc {
        display: none;
    }

    /*-- idx_about --*/
    #idx_about {
        padding: 60px 0 55px;
    }

    #idx_about .about_wrap {
        flex-direction: column-reverse;
    }

    #idx_about .about_content {
        width: 100%;
        padding: 150px 3% 0;
    }

    #idx_about .about_title {
        text-align: center;
    }

    #idx_about .about_content .btn_primary {
        margin: 0 auto;
    }

    #idx_about .about_gallery {
        margin: 0 auto;
        width: 93.75vw;
        max-width: 540px;
    }

    /*-- idx_news --*/
    #idx_news .news_wrap {
        flex-direction: column;
    }

    #idx_news .news_left {
        margin: 0 auto 50px;
    }

    #idx_news .news_list.first .news_thumbnail {
        width: 93.933vw;
        height: 63.405vw;
    }

    #idx_news .news_right {
        margin: 0 auto;
    }

    #idx_news .news_thumbnail {
        width: 40.268vw;
        height: 27.181vw;
    }

    /*-- idx_service --*/
    #idx_service {
        padding: 40px 0 55px;
    }

    #idx_service .service_frame {
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    #idx_service .service_gallery {
        padding-top: 0;
    }

    /*-- box_content --*/
    .box_content .box_wrap {
        flex-direction: column !important;
    }

    .box_content .box_image {
        width: 93.933vw;
        max-width: 480px;
        height: 62.231vw;
        max-height: 318px;
        margin: 0 0 35px !important;
    }

    .box_content .box_detail {
        max-width: 100%;
    }

    .box_content .box_detail .h_title {
        text-align: center;
    }

    .box_content .box_detail .btn_primary {
        margin: 0 auto;
    }

    /*-- idx_collection --*/
    #idx_collection {
        padding: 45px 3% 55px;
    }

    #idx_collection .collection_content {
        margin-right: 0;
        margin-bottom: 40px;
    }

    #idx_collection .collection_content .h_title {
        text-align: center;
    }

    #idx_collection .collection_wrap .btn_primary {
        margin: 0 auto;
    }

    #idx_collection .collection_wrap {
        flex-direction: column;
    }

    #idx_collection .collection_cate_img {
        display: none;
    }

    #idx_collection .collection_cate_list {
        margin-left: 0;
    }

    #idx_collection .collection_cate_item a {
        opacity: 1;
        display: flex;
        align-items: flex-start;
    }

    #idx_collection .collection_cate_thumbnail {
        width: 42vw;
        max-width: 120px;
        margin-right: 3%;
        margin-top: 8px;
    }

    #idx_collection .collection_cate_title {
        font-size: 20px;
    }

    #idx_collection .collection_cate_title span {
        margin-left: 0;
        display: block;
    }

    /*-- footer --*/
    #footer .box_instagram_item {
        width: calc(100% / 3);
    }

    #footer .box_info_instagram {
        flex-direction: column;
        align-items: center;
    }

    #footer .box_info_instagram a:first-child {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    /*-- idx_about --*/
    #idx_about .about_content {
        padding-top: 26.042vw;
    }

    /*-- idx_news --*/
    #idx_news .news_item a {
        flex-direction: column;
        align-items: flex-start;
    }

    #idx_news .news_thumbnail {
        width: 100%;
        height: 100%;
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 490px) {
    /*-- footer --*/
    #footer .box_instagram_item {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 390px) {
}

@media screen and (max-width: 320px) {
}
