@charset "UTF-8";

/* ------------------------------------------------------
RESET
------------------------------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

details,
menu,
figcaption,
figure,
main,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
figure,
figcaption,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

canvas,
audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

table {
  font: inherit;
  font-size: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

/* ------------------------------------------------------
GENERAL
------------------------------------------------------ */
img {
  max-width: 100%;
  height: auto;
}

h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em;
}

p {
  margin: 0 0 1.5em;
  letter-spacing: 0.1em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

.section {
  padding: 0 0 50px 0;
}

.section:last-child {
  padding-bottom: 0;
}

.section .section {
  padding: 0 0 25px;
}

.image_l {
  float: left;
  margin: 0 20px 10px 0;
}

.image_r {
  float: right;
  margin: 0 0 10px 20px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac */
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* ------------------------------------------------------
Variables
------------------------------------------------------ */
:root {
  --main-color: #5a5a5a;
  --white-color: #fff;
  --jp-font: "Shippori Mincho", serif;
  --en-font: "EB Garamond", serif;
}

.d_flex {
  --spacing: 20px;
  --column: 3;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--spacing));
  margin-bottom: calc(-1 * var(--spacing));
}

.d_flex > * {
  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
  width: calc((100% / var(--column)) - var(--spacing));
  text-align: center;
}

/* ------------------------------------------------------
Container
------------------------------------------------------ */
html {
  font-size: 100%;
  font-style: normal;
  background: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1;
}

body {
  font-family: var(--jp-font);
  color: var(--main-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background: var(--white-color);
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/*-------------js_effect---------------*/
.js_effect.js_active {
  animation: fadein 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadein {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*-------------loading---------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  opacity: 1;
  animation: 2s loading_hidden 0.6s ease forwards;
  pointer-events: none;
}

@keyframes loading_hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-------------toggle-menu---------------*/
#toggle-menu {
  position: fixed;
  top: 29px;
  right: 60px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 100;
  mix-blend-mode: difference;
  pointer-events: none;
}

#toggle-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: all 0.3s linear;
}

#toggle-menu span:nth-child(1) {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle-menu span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle-menu span:nth-child(3) {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#toggle-menu.active span:nth-child(2) {
  opacity: 0;
}

#toggle-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* ------------------------------------------------------
Header
------------------------------------------------------ */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

#header .menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  padding: 111px 60px 0 0;
  z-index: 11;
}

#header .menu_item {
  text-align: right;
  pointer-events: auto;
  margin-bottom: 12.5px;
}

#header .menu_item:last-child {
  margin-bottom: 0;
}

#header .menu_item a {
  font-family: var(--en-font);
  color: var(--white-color);
  position: relative;
}

#header .menu_item a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--white-color);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

/* ------------------------------------------------------
Contents
------------------------------------------------------ */
/*-------------header---------------*/
.h_title {
  font-family: var(--en-font);
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

.h_title.left {
  text-align: left;
}

.h_title span {
  position: relative;
}

.h_title span::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 9px);
  height: 1px;
  background: var(--main-color);
}

/*-------------btn_primary---------------*/
.btn_primary {
  width: 100%;
  max-width: 220px;
}

.btn_primary.center {
  margin: 0 auto;
}

.btn_primary.white a {
  color: #fff;
}

.btn_primary a {
  display: flex;
  font-family: var(--en-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 3.5;
  position: relative;
  overflow: hidden;
}

.btn_primary a::before,
.btn_primary a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform-origin: right;
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.btn_primary a::after {
  transform-origin: left;
  transform: scaleX(0) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn_primary a span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: left;
  transform: translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn_primary a span::before,
.btn_primary a span::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/common/icon_arrow.png");
  background-size: 100% auto;
  width: 41px;
  height: 15px;
}

.btn_primary.white a span::before,
.btn_primary.white a span::after {
  background-image: url("../images/common/icon_arrow_white.png");
}

.btn_primary a span::before {
  position: absolute;
  top: 50%;
  left: -15px;
  display: inline-block;
  transform: translateX(-2.5rem) translateY(-50%) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*-------------idx_mainvisual---------------*/
#idx_mainvisual {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

#idx_mainvisual .mainvisual_contain {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

#idx_mainvisual .mainvisual_contain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 2;
}

#idx_mainvisual .mainvisual_slider {
  width: 50%;
  height: 100%;
}

#idx_mainvisual .mainvisual_slider .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#idx_mainvisual .mainvisual_slider .swiper-wrapper .swiper-slide {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#idx_mainvisual .mainvisual_slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#idx_mainvisual .mainvisual_slider .swiper-wrapper .swiper-slide-prev img,
#idx_mainvisual .mainvisual_slider .swiper-wrapper .swiper-slide-active img,
#idx_mainvisual .mainvisual_slider .swiper-wrapper .swiper-slide-duplicate-active img {
  animation: zoomin 13s linear infinite;
}

#idx_mainvisual .mainvisual_slider.mv_right .swiper-wrapper .swiper-slide-prev img,
#idx_mainvisual .mainvisual_slider.mv_right .swiper-wrapper .swiper-slide-active img,
#idx_mainvisual .mainvisual_slider.mv_right .swiper-wrapper .swiper-slide-duplicate-active img {
  animation: zoomout 13s linear infinite;
}

#idx_mainvisual .mainvisual_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  max-width: 344px;
  line-height: 0;
}

#idx_mainvisual .mainvisual_subtitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 1600px;
  z-index: 3;
  transition: all 1s ease;
}

#idx_mainvisual .mainvisual_subtitle svg {
  width: 100%;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1 {
  opacity: 0;
  transform: translateX(3rem);
  transition: all 0.8s ease;
  fill: #fff;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(1) {
  transition-delay: 0s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(2) {
  transition-delay: 0.04s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(3) {
  transition-delay: 0.08s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(4) {
  transition-delay: 0.12s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(5) {
  transition-delay: 0.16s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(6) {
  transition-delay: 0.2s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(7) {
  transition-delay: 0.24s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(8) {
  transition-delay: 0.28s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(9) {
  transition-delay: 0.32s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(10) {
  transition-delay: 0.36s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(11) {
  transition-delay: 0.4s;
}

#idx_mainvisual .mainvisual_subtitle svg .cls-1:nth-child(12) {
  transition-delay: 0.44s;
}

#idx_mainvisual .mainvisual_subtitle.left svg .cls-1 {
  opacity: 1;
  transform: translateX(0);
}

@keyframes zoomout {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/*-------------idx_about---------------*/
#idx_about {
  padding: 130px 0 310px;
  overflow: hidden;
}

#idx_about .inner {
  max-width: 100%;
  width: 100%;
}

#idx_about .about_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

#idx_about .about_wrap::before {
  position: absolute;
  content: "";
  background: url("../images/top/about_text.png") repeat-x;
  background-size: 2237px 100%;
  width: 100vw;
  height: 127px;
  left: 0;
  top: 51px;
  z-index: 9;
  transition: all 1s linear;
  animation: TitleRight 60s linear infinite;
  pointer-events: none;
  z-index: -1;
}

#idx_about .about_content {
  width: 47.333vw;
  padding: 16.8vw 5.3vw 0 6.6vw;
  transform: translateY(50px);
  opacity: 0;
}

#idx_about .about_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 48px;
}

#idx_about .about_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.375;
  margin-bottom: 41px;
  text-align: justify;
}

#idx_about .about_gallery {
  width: 52.667vw;
  position: relative;
  transform: translateY(50px);
  opacity: 0;
}

#idx_about .about_gallery figure {
  line-height: 0;
}

#idx_about .about_gallery figure:not(:first-child) {
  position: absolute;
  z-index: 1;
}

#idx_about .about_gallery figure:nth-child(1) {
  width: 67.0886%;
  margin-left: 13.9%;
}

#idx_about .about_gallery figure:nth-child(2) {
  width: 40.50632%;
  bottom: -15.5%;
}

#idx_about .about_gallery figure:nth-child(3) {
  width: 31.64556%;
  bottom: -23.7%;
  right: 11.3%;
}

#idx_about .about_gallery figure:nth-child(4) {
  width: 31.64556%;
  right: 0;
  top: 33.6%;
}

#idx_about .about_gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes TitleRight {
  from {
    background-position: 2237px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes TitleRight-01 {
  from {
    background-position: 1233px 0;
  }
  to {
    background-position: 0 0;
  }
}

/*-------------idx_news---------------*/
#idx_news {
  padding: 103px 0 148px;
  background: #e7dfd6;
}

#idx_news .inner {
  max-width: 1120px;
}

#idx_news .h_title {
  margin-bottom: 78px;
  transform: translateY(50px);
  opacity: 0;
}

#idx_news .news_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 64px;
}

#idx_news .news_wrap .btn_primary {
  opacity: 0;
  transform: translateY(50px);
}

#idx_news .news_left {
  width: 100%;
  max-width: 480px;
  margin-right: 30px;
  flex: 1;
  transform: translateY(50px);
  opacity: 0;
}

#idx_news .news_right {
  width: 100%;
  max-width: 560px;
  transform: translateY(50px);
  opacity: 0;
}

#idx_news .news_list.first .news_item a {
  display: block;
}

#idx_news .news_list.first .news_thumbnail {
  width: 42.142vw;
  max-width: 480px;
  max-height: 324px;
  height: 28.446vw;
  margin-bottom: 32px;
  margin-right: 0;
}

#idx_news .news_list.first .news_group {
  font-size: 14px;
}

#idx_news .news_list.first .news_title {
  font-size: 20px;
  -webkit-line-clamp: inherit;
}

#idx_news .news_item a {
  display: flex;
  align-items: center;
  padding: 33.5px 0;
}

#idx_news .news_item:first-child a {
  padding-top: 0;
}

#idx_news .news_item:last-child a {
  padding-bottom: 0;
}

#idx_news .news_item:not(:last-child) a {
  border-bottom: 1px solid #999;
}

#idx_news .news_thumbnail {
  width: 21.071vw;
  max-width: 240px;
  max-height: 162px;
  height: 14.223vw;
  line-height: 0;
  flex-shrink: 0;
  margin-right: 32px;
  overflow: hidden;
}

#idx_news .news_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: all 0.5s;
}

#idx_news .news_group {
  font-size: 13px;
  color: #999;
  margin-bottom: 12px;
}

#idx_news .news_time {
  margin-right: 4px;
  letter-spacing: 0.1em;
}

#idx_news .news_cate {
  margin-bottom: 0;
  display: inline-block;
}

#idx_news .news_cate span {
  white-space: nowrap;
}

#idx_news .news_title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.7647;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#idx_news .news_desc {
  margin: 19px 0 0 0;
  font-weight: 500;
  line-height: 2.13;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#idx_news .btn_primary {
  opacity: 0;
  transform: translateY(50px);
}

/*-------------bg_cover---------------*/
.bg_cover {
  transform: translateY(50px);
  opacity: 0;
  background: 0;
}

.bg_cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------idx_service---------------*/
#idx_service {
  padding-bottom: 184px;
  transition: background-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#idx_service.color {
  background-color: #b59da1;
}

#idx_service .inner {
  max-width: 1500px;
  width: 100%;
}

#idx_service figure {
  line-height: 0;
}

#idx_service figure.img_r {
  text-align: right;
}

#idx_service .service_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
}

#idx_service .service_frame .h_title {
  margin-bottom: 36px;
}

#idx_service.color .h_title span::after {
  background: #fff;
}

#idx_service .service_frame .h_title span::after {
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#idx_service .service_frame.s_frame_fixed {
  position: fixed;
  top: 0;
}

#idx_service .service_frame.bottom {
  top: auto;
  bottom: 0;
}

#idx_service .service_frame_wrap {
  padding: 0 3%;
}

#idx_service.color .service_frame_wrap {
  color: #fff;
}

#idx_service .service_frame_wrap .btn_primary a {
  transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#idx_service.color .service_frame_wrap .btn_primary a {
  color: #fff;
}

#idx_service.color .service_frame_wrap .btn_primary a span::before,
#idx_service.color .service_frame_wrap .btn_primary a span::after {
  background-image: url("../images/common/icon_arrow_white.png");
}

#idx_service .service_gallery {
  padding-top: 120vh;
}

#idx_service .service_ttl {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.867;
  text-align: center;
  margin-bottom: 39px;
  transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#idx_service .service_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 37px;
  transition: color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#idx_service .service_image01 {
  margin-left: 17px;
}

#idx_service .service_image02 {
  margin: -139px -78px 0 0;
}

#idx_service .service_image03 {
  margin: -247px 0 0 101px;
}

#idx_service .service_image04 {
  margin: -43px 188px 0px 0;
}

#idx_service .service_image05 {
  margin: -133px 0 0 -226px;
}

#idx_service .service_image06 {
  margin: -161px 24px 0 0px;
}

#idx_service .service_image07 {
  margin: -69px 0 0 127px;
}

#idx_service .service_image08 {
  margin: -306px 46px 0 0;
}

/*-------------box_content---------------*/
.box_content {
  padding: 115px 0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.box_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  pointer-events: none;
}

.box_content.photo {
  background-image: url("../images/top/image_photo.jpg");
}

.box_content.hairmake {
  background-image: url("../images/top/image_hairmake.jpg");
}

.box_content.ceremony {
  background-image: url("../images/top/image_ceremony.jpg");
}

.box_content .box_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.box_content .box_wrap.reverse {
  flex-direction: row-reverse;
}

.box_content .box_wrap.reverse .box_image {
  margin-right: 0;
  margin-left: 30px;
}

.box_content .box_image {
  width: 53.25vw;
  max-width: 680px;
  height: 35.239vw;
  max-height: 450px;
  margin-right: 30px;
  transform: translateY(50px);
  opacity: 0;
}

.box_content .box_image a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
}

.box_content .box_image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
}

.box_content .box_detail {
  width: 100%;
  max-width: 460px;
  padding-bottom: 19px;
  flex: 1;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
}

.box_content .box_detail .h_title {
  margin-bottom: 34px;
}

.box_content .box_detail .h_title span::after {
  background: #fff;
}

.box_content .box_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.375;
  text-align: justify;
  margin-bottom: 36px;
}

/*-------------idx_collection---------------*/
#idx_collection {
  width: 100%;
  padding: 125px 5%;
  background-color: #b59da1;
  overflow: hidden;
}

#idx_collection .collection_wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 90px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transform: translateY(50px);
  opacity: 0;
}

#idx_collection .collection_wrap .btn_primary {
  margin-bottom: 9px;
}

#idx_collection .collection_content {
  width: 100%;
  margin-right: 30px;
  flex: 1;
}

#idx_collection .collection_content .h_title {
  margin-bottom: 20px;
}

#idx_collection .collection_content .h_title span::after {
  background: #fff;
}

#idx_collection .collection_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  text-align: justify;
}

#idx_collection .collection_cate {
  display: flex;
  align-items: flex-start;
}

#idx_collection .collection_cate_test {
  opacity: 0;
  transform: translateY(50px);
}

#idx_collection .collection_cate_img {
  width: 35.55%;
  flex-shrink: 0;
  height: 100vh;
  position: relative;
}

#idx_collection .collection_cate_img figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  line-height: 0;
  transition: all 0.3s ease;
}

#idx_collection .collection_cate_img figure.show {
  opacity: 1;
}

#idx_collection .collection_cate_img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#idx_collection .collection_cate_list {
  flex: 1;
  margin-left: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: translateY(50px);
}

#idx_collection .collection_cate_item a {
  display: block;
  border-top: 1px solid #fff;
  color: #fff;
  opacity: 0.3;
  transition: opacity 0.6s;
  padding: 47px 0 66px;
}

#idx_collection .collection_cate_thumbnail {
  display: none;
}

#idx_collection .collection_cate_title {
  font-size: 54px;
  font-family: var(--en-font);
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 21px;
}

#idx_collection .collection_cate_title span {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin-left: 21px;
}

#idx_collection .collection_cate_desc {
  font-weight: 500;
  font-size: 16px;
}

/* ------------------------------------------------------
Footer
------------------------------------------------------ */
#footer {
  padding-top: 140px;
}

#footer .box_contact_wrap {
  background: url("../images/footer/background_contact.jpg") no-repeat center center;
  background-size: cover;
  padding: 64px 3% 79px;
  color: #fff;
  position: relative;
}

#footer .box_contact_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

#footer .box_contact_wrap .h_title {
  margin-bottom: 35px;
}

#footer .box_contact_wrap .h_title span::after {
  background: #fff;
}

#footer .box_contact_block {
  position: relative;
  z-index: 2;
  transform: translateY(50px);
  opacity: 0;
}

#footer .box_contact_desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 4px;
}

#footer .box_contact_tel {
  font-family: var(--en-font);
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 2px;
  text-align: center;
}

#footer .box_contact_tel a {
  color: #fff;
  font-size: 158.8235%;
  letter-spacing: 0.1em;
}

#footer .box_contact_time {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 31px;
}

#footer .box_instagram {
  padding: 120px 0 151px;
}

#footer .box_instagram .h_title {
  margin-bottom: 51px;
  transform: translateY(50px);
  opacity: 0;
}

#footer .box_instagram_group {
  margin-bottom: 83px;
  transform: translateY(50px);
  opacity: 0;
}

#footer .box_instagram_group:last-child {
  margin-bottom: 0;
}

#footer .box_instagram_ttl {
  display: flex;
  align-items: center;
  font-family: var(--en-font);
  font-size: 28px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #b59da1;
  margin-left: 50px;
  margin-bottom: 25px;
}

#footer .box_instagram_ttl span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #b59da1;
  border-radius: 50%;
  margin-right: 18px;
}

#footer .box_instagram_ttl span img {
  width: 54%;
  object-fit: contain;
}

#footer .box_instagram_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#footer .box_instagram_item {
  width: calc(100% / 6);
}

#footer .box_instagram_item a {
  display: block;
  line-height: 0;
}

#footer .box_instagram_item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footer .box_instagram_animation {
  height: 32px;
  width: 100vw;
  position: relative;
  pointer-events: none;
}

#footer .box_instagram_animation.reverse {
  height: 33px;
}

#footer .box_instagram_animation.reverse::before {
  animation-name: instagramLeft;
  background-size: 571px 100%;
  background-image: url("../images/footer/instagram_animation02.png");
}

#footer .box_instagram_animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/footer/instagram_animation.png");
  background-repeat: repeat-x;
  background-size: 573px 100%;
  transition: all 1s linear;
  animation: instagramRight 8s linear infinite;
}

#footer .box_info {
  background-color: #b59da1;
  padding: 108px 0 30px;
}

#footer .box_info_wrap {
  width: 94%;
  max-width: 1000px;
  margin: 0 auto;
}

#footer .box_info_wrap address {
  font-style: inherit;
  text-align: center;
  font-family: var(--en-font);
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
}

#footer .box_info_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}

#footer .box_info_block .f_logo {
  margin-bottom: 58px;
}

#footer .box_info_block .f_logo a {
  display: inline-block;
  width: 100%;
  max-width: 460px;
  line-height: 0;
}

#footer .box_info_block .f_info {
  color: #fff;
}

#footer .box_info_block .f_info p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

#footer .box_info_block .f_info p a {
  color: #fff;
}

#footer .box_info_block .f_info p:last-child {
  margin-bottom: 0;
}

#footer .box_info_detail {
  width: 100%;
  max-width: 480px;
}

#footer .box_info_nav {
  flex: 1;
  width: 100%;
  max-width: 384px;
  margin-top: -4px;
  display: flex;
  justify-content: space-between;
}

#footer .box_info_link li {
  margin-bottom: 26px;
}

#footer .box_info_link li:last-child {
  margin-bottom: 0;
}

#footer .box_info_link a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  position: relative;
}

#footer .box_info_link a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--white-color);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

#footer .box_info_instagram {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 97px;
  display: flex;
  justify-content: space-between;
}

#footer .box_info_instagram a {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: var(--en-font);
  font-size: 20px;
  letter-spacing: 0.05em;
}

#footer .box_info_instagram a img {
  margin-right: 16px;
  margin-top: 4px;
}

#footer .box_info_instagram a span {
  text-decoration: underline;
}

@keyframes instagramRight {
  from {
    background-position: 573px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes instagramLeft {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 571px 0;
  }
}

@keyframes instagramRight_sp {
  from {
    background-position: 412px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes instagramLeft_sp {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 410px 0;
  }
}

/* MOZZILLA CSS */
@-moz-document url-prefix() {
}

/* IE CSS */
@media screen\0 {
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align: auto) {
}
