.box_sp {
    display: none;
}

.box_pc {
    display: block;
}

/* responsive */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (min-width: 1025px) {
    a[href^="tel"] {
        pointer-events: none;
    }

    /*-- btn_primary --*/
    .btn_primary a:hover::before {
        transform: scaleX(0) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .btn_primary a:hover span {
        transform: translateX(4.2rem) translateZ(0);
    }

    .btn_primary a:hover::after {
        transform: scaleX(1) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    }

    #idx_news .news_item a:hover img {
        transform: scale(1.1);
    }

    #box_content .box_image a:hover img {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    /*-- h_title --*/
    .h_title {
        font-size: 30px;
    }

    /*-- btn_primary --*/
    .btn_primary a {
        font-size: 14px;
        line-height: 3;
    }

    /*-- idx_about --*/
    #idx_about {
        padding: 60px 0 12vw;
    }

    #idx_about .about_content {
        padding: 12vw 4vw 0 4vw;
    }

    #idx_about .about_title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    #idx_about .about_desc {
        font-size: 14px;
    }

    #idx_about .about_wrap::before {
        background-size: 1233px 100%;
        height: 70px;
        animation-name: TitleRight-01;
    }

    /*-- idx_news --*/
    #idx_news {
        padding: 60px 0;
    }

    #idx_news .h_title {
        margin-bottom: 45px;
    }

    #idx_news .news_wrap {
        margin-bottom: 45px;
    }

    #idx_news .news_thumbnail {
        margin-right: 20px;
    }

    #idx_news .news_list.first .news_thumbnail {
        margin-bottom: 25px;
    }

    #idx_news .news_item:not(:first-child) {
        margin-top: 35px;
        padding-top: 35px;
    }

    #idx_news .news_title {
        font-size: 15px;
    }

    #idx_news .news_list.first .news_title {
        font-size: 18px;
    }

    #idx_news .news_group {
        margin-bottom: 8px;
    }

    /*-- box_content --*/
    #box_content {
        padding: 60px 0;
    }

    #box_content .box_detail {
        padding-bottom: 0;
    }

    #box_content .box_desc {
        font-size: 14px;
    }

    #box_content .box_detail .h_title {
        margin-bottom: 20px;
    }

    #box_content .box_desc {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    #wrapper,
    #header,
    #main,
    #footer,
    .pages .pages_inner {
        width: 100% !important;
        min-width: inherit !important;
    }

    .box_sp {
        display: block;
    }

    .box_pc {
        display: none;
    }

    /*-- idx_about --*/
    #idx_about {
        padding: 60px 0 55px;
    }

    #idx_about .about_wrap {
        flex-direction: column-reverse;
    }

    #idx_about .about_content {
        width: 100%;
        padding: 150px 3% 0;
    }

    #idx_about .about_title {
        text-align: center;
    }

    #idx_about .about_content .btn_primary {
        margin: 0 auto;
    }

    #idx_about .about_gallery {
        margin: 0 auto;
        width: 93.75vw;
        max-width: 540px;
    }

    #idx_news .news_wrap {
        flex-direction: column;
    }

    #idx_news .news_left {
        margin: 0 auto 50px;
    }

    #idx_news .news_list.first .news_thumbnail {
        width: 93.933vw;
        height: 63.405vw;
    }

    #idx_news .news_right {
        margin: 0 auto;
    }

    #idx_news .news_thumbnail {
        width: 40.268vw;
        height: 27.181vw;
    }

    #box_content .box_wrap {
        flex-direction: column !important;
    }

    #box_content .box_image {
        width: 93.933vw;
        max-width: 480px;
        height: 62.231vw;
        max-height: 318px;
        margin: 0 0 35px !important;
    }

    #box_content .box_detail {
        max-width: 100%;
    }

    #box_content .box_detail .h_title {
        text-align: center;
    }

    #box_content .box_detail .btn_primary {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    /*-- idx_about --*/
    #idx_about .about_content {
        padding-top: 26.042vw;
    }

    /*-- idx_news --*/
    #idx_news .news_item a {
        flex-direction: column;
        align-items: flex-start;
    }

    #idx_news .news_thumbnail {
        width: 100%;
        height: 100%;
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 490px) {
}

@media screen and (max-width: 390px) {
}

@media screen and (max-width: 320px) {
}
